Repository DriveLite/DriveLite, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, documentation, web, mobile, server, sync-engine, desktop, landing_page

.github/labeler.yml:

# DriveLite - The self-hostable file storage solution.
# Copyright (C) 2025  
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

cli:
  - changed-files:
      - any-glob-to-any-file:
          - apps/cli/**

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

web:
  - changed-files:
      - any-glob-to-any-file:
          - apps/web/src/**
          - apps/web/static/**
          - apps/web/e2e/**

mobile:
  - changed-files:
      - any-glob-to-any-file:
          - apps/mobile/lib/**
          - apps/mobile/test/**

server:
  - changed-files:
      - any-glob-to-any-file:
          - apps/server/**

sync-engine:
  - changed-files:
      - any-glob-to-any-file:
          - apps/sync_engine/src/**
          - apps/sync_engine/tests/**

desktop:
  - changed-files:
      - any-glob-to-any-file:
          - apps/desktop/src/**
          - apps/desktop/src-tauri/**
          - apps/desktop/public/**

landing_page:
  - changed-files:
      - any-glob-to-any-file:
        - apps/landing_page/src/**
        - apps/landing_page/public/**

fix: fix forgot to removing a postbuild script not needed
  apps/landing_page/package.json
Labels: none

fix: fix forgot to removing a postbuild script not needed
  apps/landing_page/package.json
Labels: none

feat: adding rss to the blogs of landing Page
  .github/workflows/pr-labeler.yml
  .github/workflows/web-lint-pr.yml
  apps/landing_page/bun.lock
  apps/landing_page/package.json
  apps/landing_page/src/_components/blogs/BlogsBreadCrumbs.tsx
  apps/landing_page/src/_components/common/footer.tsx
  apps/landing_page/src/_components/common/navbar.tsx
  apps/landing_page/src/app/api/docs/[locale]/[...slug]/route.ts
  apps/landing_page/src/app/api/feed/route.ts
  apps/landing_page/src/app/blogs/[slug]/page.tsx
  apps/landing_page/src/app/sitemap.ts
  apps/landing_page/src/lib/Blogs.ts
  apps/landing_page/src/middleware.ts
  apps/server/internal/models/refresh_token.go
  apps/server/internal/repo/postgres.go
  apps/server/internal/repo/repo.go
  apps/server/internal/repo/sqlite.go
  apps/server/internal/server/routes.go
  apps/server/internal/server/routes_test.go
  apps/server/internal/server/server.go
  apps/sync_engine/src/sync.rs
Labels: server, sync-engine, landing_page

fix: fixing the AutoLabler runs on non pr commits
  .github/workflows/pr-labeler.yml
Labels: none

fix: fixing the AutoLabler runs on non pr commits
  .github/workflows/pr-labeler.yml
Labels: none

feat: forcing conventional commit
  .github/workflows/org-pr-require-conventional-commit.yml
Labels: none

fix: an error with convential commits
  .github/workflows/org-pr-require-conventional-commit.yml
Labels: none

feat: adding rss feed to the blogs section for landing page (#26)
  .github/workflows/web-lint-pr.yml
  .github/workflows/web-lint.yml
  apps/landing_page/bun.lock
  apps/landing_page/package.json
  apps/landing_page/src/_components/blogs/BlogsBreadCrumbs.tsx
  apps/landing_page/src/_components/common/footer.tsx
  apps/landing_page/src/_components/common/navbar.tsx
  apps/landing_page/src/app/api/docs/[locale]/[...slug]/route.ts
  apps/landing_page/src/app/api/feed/route.ts
  apps/landing_page/src/app/blogs/[slug]/page.tsx
  apps/landing_page/src/app/sitemap.ts
  apps/landing_page/src/lib/Blogs.ts
  apps/landing_page/src/middleware.ts
  apps/server/internal/models/refresh_token.go
  apps/server/internal/repo/postgres.go
  apps/server/internal/repo/repo.go
  apps/server/internal/repo/sqlite.go
  apps/server/internal/server/routes.go
  apps/server/internal/server/routes_test.go
  apps/server/internal/server/server.go
  apps/sync_engine/src/sync.rs
Labels: server, sync-engine, landing_page

feat: Renaming some files and adding a script to run all of the fuzz tests of the server
  .github/workflows/server-test.yml
  apps/server/internal/config/env.go
  apps/server/internal/handlers/default.go
  apps/server/internal/middlewares/RateLimiter.go
  apps/server/internal/repositories/postgres.go
  apps/server/internal/repositories/repo.go
  apps/server/internal/repositories/sqlite.go
  apps/server/internal/repositories/users/postgres.go
  apps/server/internal/repositories/users/repo.go
  apps/server/internal/repositories/users/sqlite.go
  apps/server/internal/server/routes.go
  apps/server/internal/server/server.go
  apps/server/internal/utils/networkutils/normalize_ip.go
  apps/server/internal/utils/networkutils/normalize_ip_test.go
  apps/server/internal/utils/ratelimterutils/in_memory_ratelimiter.go
  apps/server/internal/utils/storageutils/objectkey.go
  apps/server/internal/utils/storageutils/objectkey_test.go
  apps/server/internal/utils/tokenutils/crypto.go
  apps/server/internal/utils/tokenutils/token.go
  apps/server/pkg/filename/sanatize.go
  apps/server/pkg/logger/ConsoleLogger.go
  apps/server/scripts/FuzzTests.sh
Labels: server

fix: fixing error with wrong name in the test file
  apps/server/internal/utils/storageutils/objectkey_test.go
  apps/server/scripts/FuzzTests.sh
Labels: server

feat: adding stores in sveltekit and using viper in server
  apps/desktop/src/app.html
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/+page.svelte
  apps/server/.env.example
  apps/server/.gitignore
  apps/server/.golangci.yml
  apps/server/go.mod
  apps/server/go.sum
  apps/server/hurl/Health.hurl
  apps/server/hurl/Hello.hurl
  apps/server/internal/config/env.go
  apps/server/internal/handlers/default.go
  apps/server/internal/models/user.go
  apps/server/internal/repositories/postgres.go
  apps/server/internal/repositories/repo.go
  apps/server/internal/repositories/sqlite.go
  apps/server/internal/server/routes.go
  apps/server/internal/server/server.go
  apps/server/internal/storage/storage.go
  apps/server/internal/utils/networkutils/normalize_ip.go
  apps/server/internal/utils/networkutils/normalize_ip_test.go
  apps/server/internal/utils/storageutils/objectkey_test.go
  apps/server/pkg/logger/ConsoleLogger.go
  apps/server/pkg/logger/logger.go
  apps/sync_engine/src/lib.rs
  apps/sync_engine/src/main.rs
  apps/web/README.md
  apps/web/src/app.d.ts
  apps/web/src/hook.server.ts
  apps/web/src/lib/components/common/ModeToggle/ModeToggle.svelte
  apps/web/src/lib/i18n.ts
  apps/web/src/lib/stores.ts
  apps/web/src/lib/theme.ts
  apps/web/src/lib/types.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+layout.ts
Labels: web, server, sync-engine, desktop

feat: adding stores in sveltekit and using viper in server
  apps/web/src/lib/stores.ts
  apps/web/src/lib/theme.ts
Labels: web

fix: fixing the error in locale not acceping string
  apps/web/src/hook.server.ts
Labels: web

fix: fixing the error in locale not acceping string
  apps/server/go.mod
  apps/server/go.sum
Labels: server

fix:/home/runner/work/DriveLite/DriveLite/apps/web/src/lib/theme.ts 39:36 error '_' is defined but never used @typescript-eslint/no-unused-vars
  apps/web/src/app.d.ts
  apps/web/src/lib/i18n.ts
  apps/web/src/lib/stores.ts
  apps/web/src/lib/theme.ts
  apps/web/src/lib/types.ts
  apps/web/src/routes/+layout.ts
Labels: web

fix: codeql not recognize dart
  .github/workflows/codeql.yml
Labels: none

fix: codeql upgraded to v4 and fix rust build error
  .github/workflows/codeql.yml
Labels: none
